<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/destinations">Destinations</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</nav>
<section>
    <div>
      <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>
    </div>   
    <figcaption>
      <img src="http://avantgarde.com.pk/wp-content/uploads/2017/05/boracay-beach-image-hd-wallpaper.jpg" alt=""> 
    </figcaption>      
      
              
          
  </section>