<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head.ejs %>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCkWZ-kvYhWFLgtAlQJgVNQqZg7QuY4uLY&callback=initMap"
        async defer></script>
  </head>
  <body>
    
    <header>
      <% include ./partials/header.ejs %>
      
  </header>

  <main>
      
      <figcaption id="phili">
          <div class="text-over">
              <h2><span class="space">Philippines</span></h2>
              <p><span class="space">Come visit the most beautiful archipelago the world has to offer</span></p>

          </div>
          <img src="https://www.youvivu.com/blog/wp-content/uploads/2015/10/philippine-island.jpg" alt="">
          
          
      </figcaption>
      <hr>
      <div class="gallery">
        <a target="_blank" href="https://explore.traveloka.com/wp-content/uploads/2017/04/shutterstock_533549923-1.jpg">
          <img src="https://explore.traveloka.com/wp-content/uploads/2017/04/shutterstock_533549923-1.jpg" alt="River" width="300" height="200">
          <div class="desc"><p>Tranquil river tours</p></div>
        </a>
        <!-- <div class="desc"><span class="text">a description of the image here</span></div> -->
      </div>
      
      <div class="gallery">
        <a target="_blank" href="https://explore.traveloka.com/wp-content/uploads/2016/12/Pinatubo-1.jpg">
          <img src="https://explore.traveloka.com/wp-content/uploads/2016/12/Pinatubo-1.jpg" alt="Volcano" width="300" height="200">
          <div class="desc"><p>Volcano tours and hikes</p></div>
        </a>
        
      </div>
      
      <div class="gallery">
        <a target="_blank" href="https://s-diviac-com.s3.amazonaws.com/media/cache83/2d/70/2d70a9de2f8bc03331fad6bddd98c0eb.jpg">
          <img src="https://s-diviac-com.s3.amazonaws.com/media/cache83/2d/70/2d70a9de2f8bc03331fad6bddd98c0eb.jpg" alt="Snorkelling" width="300" height="200">
          <div class="desc"><p>Explore beautiful reefs snorkeling or scuba</p></div>
        </a>
        
      </div>
      
      <div class="gallery">
        <a target="_blank" href="mountains.jpg">
          <img src="mountains.jpg" alt="Mountains" width="300" height="200">
        </a>
        <div class="desc">Add a description of the image here</div>
      </div>

      <div id="map">
        <script>
          var map;
          function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
              center: {lat: 12.8797, 
                       lng: 121.7740},
              zoom: 6
            });
          }
        </script>
        
      </div>

      <article>
        <h2>About</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore repellendus ullam maiores at in, autem qui nisi earum doloribus reprehenderit, accusamus reiciendis neque eaque ut quod. Quas magnam fugiat a alias eligendi sit explicabo, similique itaque, veniam fugit natus id animi commodi amet quos laudantium reprehenderit quo sunt. Cupiditate, eius!</p>
      </article>
      
      
  </main>
  

  

  </body>
</html>
