<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>
    
    <header>
      <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/destinations">Destinations</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
  </header>

  <main>
      
      <figcaption id="phili">
          <div class="text-over">
              <h2><span class="space">Philippines</span></h2>
              <p><span class="space">Come visit the most beautiful archipelago the world has to offer</span></p>

          </div>
          <img src="https://www.youvivu.com/blog/wp-content/uploads/2015/10/philippine-island.jpg" alt="">
          
          
      </figcaption>
      
  </main>
  

  
<hr>
  </body>
</html>
