<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>
    
    <header>
      <% include ./partials/header.ejs %>
  </header>
<hr>
  <main>
      
      <figcaption id="phili">
          <img src="https://www.youvivu.com/blog/wp-content/uploads/2015/10/philippine-island.jpg" alt="">
          <div class="text-over">
              <h2><span class="space">Philippines</span></h2>
              <p><span class="space">Come visit the most beautiful archipelago the world has to offer</span></p>

          </div>
          
      </figcaption>
      
  </main>
  

  
<hr>
  </body>
</html>
